## **Intruções do projeto**
----------------------------------------
Declare dois arrays, cada um com um mínimo de cinco elementos, e imprima eles no terminal usando o comando print(). O primeiro array deve conter os produtos de uma loja da sua escolha (loja de comida, materiais de construção, música, etc). O segundo array deve conter os anos de nascimento de familiares e amigos seus. Lembre-se de usar nomes descritivos para nomear cada variável, e de usar o tipo de dado apropriado para cada lista (strings, booleanos, números inteiros, floats).

Autora: Lara Vitória da Costa Bezerra

In [ ]:
itens_comida = ["Bolo de chocolate", "Pizza", "Lasanha", "Pastel", "Sanduíche"]

In [ ]:
print(itens_comida)

['Bolo de chocolate', 'Pizza', 'Lasanha', 'Pastel', 'Sanduíche']

In [ ]:
ano_nascimento = [["Lorena", 1994],["Leonora", 1963], ["João", 1965], ["Luiza", 2008], ["Maria", 1960]]

In [ ]:
print(ano_nascimento)

[['Lorena', 1994], ['Leonora', 1963], ['João', 1965], ['Luiza', 2008], ['Maria', 1960]]